<h2 class='title' align='center'><%= @question.content %></h2>

<div class="column side">
</div>

<div class="column middle">

<p><strong>Streak: <%= session[:streak] %></strong></p>
<hr>
 <% @question.answers.each do |answer| %>

<p><%= link_to answer.content, answer_path(answer), class: 'button' %></p>

<% end %>
<hr>
</div>
