<% session[:hot_streak] = false%>
<div class="column side"></div>
<div class="column middle">
  <h3 class="title" align='center'>Blast - looks like the streak is over!</h3>
    <hr>
  <h4 class="subtitle" align='center'>
    Your streak was
    <strong>
      <%= session[:streak] %>
    </strong>
    questions long
  </h4>
  <br>

    <p align='center'>
      <% if session[:streak] >= highest_streak_for_user_in_category %>
        <%= "Personal high score - nice!" %>
      <% end %>

    </p>

      <% session[:streak] = 0 %>
        <% @category = Category.find(session[:category]["id"]) %>
          <% session[:question_number] = 0 %>
            <% session[:question_ids] = Array.new %>

              <% @category.questions.each do |question| %>
                <%  session[:question_ids] << question.id %><% end %>
                <% @random_question = session[:question_ids].sample %>
                  <hr>

                  <p align='center'><%= link_to "Play again!", hot_streak_path, class: 'button'%></p>
                  <br>
                  <p align='center'><%= link_to "Go back to #{@category.name}", category_path(@category), class: 'button' %></p>
                  <hr>
                </div>
