<% session[:hot_streak] = false%>
<div class="column side"></div>
<div class="column middle">
  <h3 class="title" align='center'>Blast - looks like the streak is over!</h3>
    <hr>
  <h4 class="subtitle" align='center'>
    Your streak was
    <strong>
      <%= session[:streak] %>
    </strong>
    questions long
  </h4>
  <br>
