<h2 class='title'><%= @question.content %></h2>

<div class="column side">
</div>

<div class="column middle">

<p><strong>Question: <%= session[:question_number] %>/10</strong></p>
<p><strong>Score: <%= session[:score] %></strong></p>
<hr>
 <% @question.answers.each do |answer| %>

<p><%= link_to answer.content, answer_path(answer), class: 'button' %></p>
<br>

<% end %>
<hr>
</div>
