<h2><%= @question.content %></h2>
<p>Question: <%= session[:question_number] %>/10</p>
<p>Score: <%= session[:score] %></p>

 <% @question.answers.each do |answer| %>
<ul>
  <li><%= link_to answer.content, answer_url(answer) %></li>
</ul>
<% end %>
