<h1 class='title' align='center'><%= @user.name %>'s Profile</h1>
<hr>

<div class="column middle" align='center'>




  <p class='menu-label'>Points Total</p>
    <p class='points'><%= all_total_points %></p>

  <hr>

  <p class='menu-label'>Highest Streak</p>
    <p class='points'><%= highest_streak %></p>

  <hr>

</div>

</div>

<div class="column middle">

<% if flash.now[:success] %>

  <p class='notification is-success' align='center'><%= flash.now[:success] %></p>

<% end %>
</div>
