<h3 class="title" align='center'> About Quizbuzz</h3>


<div class="column middle" align='center'>
  <hr>

  Quizbuzz is maintained by Ryan Barker and Barney Loosemore and was developed over a week in October 2018 with Ruby on Rails. It features two game modes in 15 different categories.

  </div>
<hr>
<p align='center'><%= link_to "Return to Feed", feed_path, class: 'button is-info' %></p>
