



<!-- <nav class='level'> -->
<h3 class='title' align='center'>Friends</h3>
<hr>

<div class="section">
  <div class='column'>
    <div align='center'>
      <div class="friends">

      <% User.find(session[:user_id]).friends.each do |friend| %>
        <% @friend = (User.find(friend.friend_id)) %>

        <%= link_to @friend.name, user_path(@friend), class: "button category" %></li>

      <% end %>

      </div>
    </div>
  </div>
</div>

<hr>

<p align='center'><a class="button is-info" href="/feed">Return to Feed</a></p>
