<h3 class="title" align='center'>All Categories</h3>
<div class="column side">

</div>

<div class="column middle">
  <div class="categories">

<% @categories.each do |cat| %>

<ul>
  <li><%= link_to cat.name, category_url(cat) %></li>
</ul>
<% end %>
  </div>
<hr>
<p align="center"><%= link_to "Logout", logout_path, method: 'delete' %></p>
</div>
