<h3 class='title' align='center'><%= @category.name %></h1>
  <div class="column side">

  </div>


<div class='column middle'>
  <hr>
<h2 align='center'> <%= link_to "Click here to start quiz!", @category.questions.find(@random_question), class: 'button' %>
  <hr>

<ul>

  <% category_leaderboard.each do |game| %>
    <li>
      <%= "#{game.user.name} - #{game.score}" %>
    </li>
  <% end %>
</ul>
</div>
