<div class="column side">

</div>
<div class="column middle">
  <div align="center">
  <%= image_tag('landing-logo.png', width: '500') %>
</div>
  <hr>
  <div align='center'>
  <%= link_to "Log In", login_path, :class => 'button' %>
  </div>
  <hr>
  <div align='center'>
  New User?
    <%= link_to "Register", register_path %>
    </div>
</div>
